language: objective-c

osx_image: xcode7.1

before_install: rvm use $RVM_RUBY_VERSION
install: gem install slather -v 1.8.2 -N

env:
  - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=9.1"
  - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=8.1"

script: xctool -destination "$DESTINATION" -workspace Example/TTZoomTransitionExample.xcworkspace -scheme TTZoomTransitionExample -sdk iphonesimulator9.1 build test

after_success:
  - slather
  - bash <(curl -s https://codecov.io/bash) -f cobertura_output/cobertura.xml
