language: objective-c

osx_image: xcode7.3

install: gem install slather -N

env:
  - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=9.3"
  - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=8.4"

script: xctool -destination "$DESTINATION" -workspace Example/TTZoomTransitionExample.xcworkspace -scheme TTZoomTransitionExample -sdk iphonesimulator9.3 build test

after_success: slather
