language: objective-c

osx_image: xcode8.3

install: gem install slather -N

env:
  - DESTINATION="platform=iOS Simulator,name=iPhone 6s,OS=10.2"
  - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=9.3"
  - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=8.1"

script: xcodebuild -destination "$DESTINATION" -workspace Example/TTZoomTransitionExample.xcworkspace -scheme TTZoomTransitionExample -sdk iphonesimulator10.2 build test

after_success: slather
